<div>
    <ul class="nav nav-tabs">
        <li ng-repeat="platform in platforms" class="{{platform.active}}">
            <a href="#/config/{{configId}}/{{platform.value}}" >{{platform.display}}</a>
        </li>
    </ul>
</div>
<div id="centerContainer" class="row tab-content">
    <form>
        <div ng-repeat="variable in config.Variables" class="col-md-12">
            <div ng-if="!variable.admin_only" class='col-md-12'>
                <label class="col-md-4">{{variable.display}}</label>
                <div ng-switch="{{variable.type}}" class="col-md-6">
                    <input class="col-md-12" ng-if="variable.required" ng-if="variable.type == 'text'" ng-model="variable.value" required type="text" value="{{variable.value}}" name="input" id="input"/>
                    <input  class="col-md-12" ng-if="!variable.required" ng-if="variable.type == 'text'"  type="text" value="{{variable.value}}" name="input" id="input1"/>
                    <select class="col-md-12"ng-model="variable.type" ng-switch-when="select">
                        <option>{{variable.options.mediawire}}</option>
                        <option>{{variable.options.autologin}}</option>
                    </select>
                </div>
                <button class="btn btn-primary col-md-2" ng-click="saveConfig()">Save</button>
            </div>
        </div>
    </form>
</div>
