<div id="tabs" class="tabs-bellow col-md-2">
    <div class="list-group"  ng-repeat="group in groups">
            <a ng-click="groupChanged(group.title)" style="background-color:{{group.color}}; color: #FFFFFF" class="list-group-item">{{group.title}} 
                <div class="col-md-offset-9">
                    <img ng-repeat="plat in platforms" ng-src="{{plat.active?plat.img_prefix+'_active.png':plat.img_prefix+'_inactive.png'}}"/>    
                </div>
            </a>
    </div>
</div>
<div id="center" class="col-md-6">
    <div>
        <ul class="nav nav-tabs">
            <li ng-repeat="platform in platforms" class="{{platform.active}} col-md-6 {{platform.value}}">
                <a style="color: #FFFFFF;" href="#/config/{{configId}}/{{platform.value}}" >{{platform.display}}</a>
            </li>
        </ul>
    </div>
    <div id="centerContainer" class="row tab-content">
        <form id="fileupload" action="http://localhost:5001/config/FloridaDesign/IOS/bc.json/res/Baner-Iphone-2x_209.png" method="POST" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
            <div class="col-lg-7">
                <button  type="button" class="btn btn-primary start col-lg-9 col-md-offset-6" data-ng-click="submit()">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Save</span>
                </button>
                <span class="fileupload-process"></span>
                <input type="file" id="uploadfield" name="files[]" multiple ng-disabled="disabled" data-url="http://localhost:5001/config/FloridaDesign/IOS/bc.json/" data-sequential-uploads="true" data-form-data='{"upload": "true"}' style="position:absolute; top:-100px;">
            </div>
            <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
            <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                <div class="progress-extended">&nbsp;</div>
            </div>
             <table class="table table-striped files ng-cloak">
                <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                    <td data-ng-switch data-on="!!file.thumbnailUrl">
                        <div class="preview" data-ng-switch-when="true">
                            <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                        </div>
                        <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                    </td>
                    <td>
                        <p class="name" data-ng-switch data-on="!!file.url">
                            <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                            </span>
                            <span data-ng-switch-default>{{file.name}}</span>
                        </p>
                        <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                    </td>
                    <td>
                        <p class="size">{{file.size | formatFileSize}}</p>
                        <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>
                        <button type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete</span>
                        </button>
                    </td>
                </tr>
            </table>
            <div ng-repeat="conf in config" class="col-md-12" dir="">
                <div ng-if="!conf.admin_only" class='col-md-12'>
                    <div ng-if="conf.group == displayed_group && !conf.rid">
                        <label class="col-md-4">{{conf.display}}</label>
                        <div ng-switch="{{conf.type}}" class="col-md-7">
                            <input class="col-md-12" ng-if="conf.required" ng-if="conf.type == 'text'" ng-model="conf.value" required type="text" value="{{conf.value}}" name="input" id="input"/>
                            <input  class="col-md-12" ng-if="!conf.required" ng-if="conf.type == 'text'"  type="text" value="{{conf.value}}" name="input" id="input1"/>
                            <select class="col-md-12"ng-model="conf.type" ng-switch-when="select">
                                <option>{{conf.options.mediawire}}</option>
                                <option>{{conf.options.autologin}}</option>
                            </select>
                        </div>
                        <button type="button" id="helptext" ng-mouseover="popup(conf)" class="col-md-1 glyphicon glyphicon-question-sign {{placement}}" data-toggle="tooltip" data-placement="top" title="{{conf.tooltip}}"></button>
                    </div>
                    <div ng-if="conf && conf.group == displayed_group && conf.rid">
                        <label class="col-md-4">{{conf.rid}}</label><img ng-src="/config/{{configId}}/{{platform}}/{{conf.url}}" alt="{{conf.id}}" class="img-responsive col-md-offset-5" />
                        </br>
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <span  class="btn btn-primary fileinput-button col-md-offset-9" ng-click="triggerUpload()">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span>Change...</span>
                                    <input type="button">
                                </span>
                            </div>
                        </div>
                        <button type="button" id="helptext" ng-mouseover="popup(conf)" class="col-md-1 glyphicon glyphicon-question-sign {{placement}}" data-toggle="tooltip" data-placement="top" title="{{conf.tooltip}}"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

