/* BASE */
/* Font Colors */
/* Background Colors */
/* Base */
/* line 3, ../scss/base/_base.scss */
.navbar-default {
  background: #e3e0d4;
}

/* line 7, ../scss/base/_base.scss */
.color-box {
  float: left;
  width: 155px;
  height: 26px;
  cursor: pointer;
  color: #777777;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  padding: 3px 0px 0px 10px;
}

/* line 20, ../scss/base/_base.scss */
.colpick_rgbhex {
  margin-top: -200px;
}

/* line 24, ../scss/base/_base.scss */
body {
  overflow-x: hidden;
  background: url("../img/main_bg1.png");
}

/* line 29, ../scss/base/_base.scss */
#sidebar {
  background: none;
}

/* line 33, ../scss/base/_base.scss */
a {
  color: #777777;
}

/* line 37, ../scss/base/_base.scss */
a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

/* line 42, ../scss/base/_base.scss */
.nav li {
  color: #777777;
}

/* MODULES */
/* Forms */
/* line 4, ../scss/modules/_forms.scss */
.for-kids {
  margin-top: 10px;
}
/* line 7, ../scss/modules/_forms.scss */
.for-kids select {
  width: 50%!important;
  display: inline-block;
  float: right;
}

/* line 15, ../scss/modules/_forms.scss */
.rad-align {
  text-align: center;
}
/* line 18, ../scss/modules/_forms.scss */
.rad-align .col-xs-6 {
  text-align: left;
}

/* line 24, ../scss/modules/_forms.scss */
.nav-tabs li {
  width: 50%;
}

/* Typography */
/* line 3, ../scss/modules/_typography.scss */
.paragraph-text {
  text-align: justify;
}

/* line 7, ../scss/modules/_typography.scss */
.section-heading {
  font-size: 130%;
  font-weight: bold;
  margin-top: 25px;
  color: #777777;
}

/* line 14, ../scss/modules/_typography.scss */
.col-head {
  font-weight: bold;
}

/* line 18, ../scss/modules/_typography.scss */
.hor-rule {
  margin: 0px;
  color: #ffffff;
  background: #ffffff;
}

/* Tabs */
/* line 5, ../scss/modules/_tabs.scss */
#ios-tab a, #android-tab a {
  color: #777777;
}
/* line 9, ../scss/modules/_tabs.scss */
#ios-tab a:hover, #android-tab a:hover {
  color: #777777!important;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
/* line 14, ../scss/modules/_tabs.scss */
#ios-tab .vert-align, #android-tab .vert-align {
  margin-top: 5px;
}
/* line 18, ../scss/modules/_tabs.scss */
#ios-tab .theme-colors img, #android-tab .theme-colors img {
  width: 100%;
  max-width: 350px;
}
/* line 23, ../scss/modules/_tabs.scss */
#ios-tab .theme-or, #android-tab .theme-or {
  font-size: 24px;
  color: #777777;
}
/* line 28, ../scss/modules/_tabs.scss */
#ios-tab .theme-colors input, #android-tab .theme-colors input {
  margin-left: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 36, ../scss/modules/_tabs.scss */
#ios-tab .theme-colors label, #android-tab .theme-colors label {
  width: 100%;
  font-weight: normal;
}
/* line 41, ../scss/modules/_tabs.scss */
#ios-tab .img-upload input, #android-tab .img-upload input {
  width: 73%;
  height: 26px;
  cursor: pointer;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  margin-left: 0px;
  display: inline;
}
/* line 52, ../scss/modules/_tabs.scss */
#ios-tab .img-upload-multi, #android-tab .img-upload-multi {
  margin-bottom: 25px;
}
/* line 56, ../scss/modules/_tabs.scss */
#ios-tab .img-upload-multi img, #android-tab .img-upload-multi img {
  width: 100%!important;
  margin: 5px 0px;
  height: auto!important;
}
/* line 62, ../scss/modules/_tabs.scss */
#ios-tab .img-upload-multi input, #android-tab .img-upload-multi input {
  width: 100%;
  height: 26px;
  cursor: pointer;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  margin-left: 0px;
  display: inline;
}
/* line 73, ../scss/modules/_tabs.scss */
#ios-tab .upload-right, #android-tab .upload-right {
  width: 25%!important;
  float: right;
  font-weight: normal;
}
/* line 79, ../scss/modules/_tabs.scss */
#ios-tab select, #android-tab select {
  width: 100%;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  background: none;
  color: #777777;
}
/* line 91, ../scss/modules/_tabs.scss */
#ios-tab textarea, #android-tab textarea {
  width: 100%;
  height: 75px;
  line-height: 1.2em;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  background: none;
  color: #777777;
}
/* line 102, ../scss/modules/_tabs.scss */
#ios-tab label, #android-tab label {
  width: 49%;
  height: 26px;
  cursor: pointer;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  margin-left: 0px;
  padding-left: 20px;
  color: #777777;
}
/* line 114, ../scss/modules/_tabs.scss */
#ios-tab .nav .active, #ios-tab label:active, #ios-tab label:hover, #android-tab .nav .active, #android-tab label:active, #android-tab label:hover {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 119, ../scss/modules/_tabs.scss */
#ios-tab input[type=submit]:focus, #android-tab input[type=submit]:focus {
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: #759fc2;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
/* line 126, ../scss/modules/_tabs.scss */
#ios-tab input[type=submit]:hover, #android-tab input[type=submit]:hover {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  background: #759fc2;
  color: #ffffff;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
/* line 133, ../scss/modules/_tabs.scss */
#ios-tab input[type=submit], #android-tab input[type=submit] {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: #759fc2;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  border: none;
}
/* line 141, ../scss/modules/_tabs.scss */
#ios-tab .input-sel, #android-tab .input-sel {
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: #e3e0d4;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
/* line 148, ../scss/modules/_tabs.scss */
#ios-tab .rad-align label:active, #ios-tab .rad-align label:hover, #ios-tab .rad-align .input-sel, #android-tab .rad-align label:active, #android-tab .rad-align label:hover, #android-tab .rad-align .input-sel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
}
/* line 155, ../scss/modules/_tabs.scss */
#ios-tab .theme-colors .create-own, #android-tab .theme-colors .create-own {
  width: 165px;
}
/* line 159, ../scss/modules/_tabs.scss */
#ios-tab input, #android-tab input {
  width: 100%;
  border: solid 1px #eeeeee;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: none;
  color: #777777;
}
/* line 168, ../scss/modules/_tabs.scss */
#ios-tab input[type=radio], #ios-tab input[type=checkbox], #android-tab input[type=radio], #android-tab input[type=checkbox] {
  width: 15px;
  cursor: pointer;
}
/* line 173, ../scss/modules/_tabs.scss */
#ios-tab .radio-input, #android-tab .radio-input {
  margin-left: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 180, ../scss/modules/_tabs.scss */
#ios-tab .radio-inline-right, #android-tab .radio-inline-right {
  float: right;
  font-weight: normal;
}
/* line 185, ../scss/modules/_tabs.scss */
#ios-tab .radio-inline-middle, #android-tab .radio-inline-middle {
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
}
/* line 191, ../scss/modules/_tabs.scss */
#ios-tab .radio-inline-left, #android-tab .radio-inline-left {
  float: left;
}
/* line 195, ../scss/modules/_tabs.scss */
#ios-tab .input-3-wide label, #android-tab .input-3-wide label {
  width: 32%;
  text-align: left;
}
/* line 200, ../scss/modules/_tabs.scss */
#ios-tab .input-3-wide, #android-tab .input-3-wide {
  text-align: center;
}
/* line 204, ../scss/modules/_tabs.scss */
#ios-tab .row, #android-tab .row {
  margin: 10px 0px;
}

@media screen and (max-width: 500px) {
  /* line 214, ../scss/modules/_tabs.scss */
  #ios-tab .vert-align, #android-tab .vert-align {
    margin-top: 0px;
  }
}
@media screen and (max-width: 620px) {
  /* line 226, ../scss/modules/_tabs.scss */
  #ios-tab .col-xs-2, #android-tab .col-xs-2 {
    width: 20%;
  }
  /* line 231, ../scss/modules/_tabs.scss */
  #ios-tab .col-xs-6, #android-tab .col-xs-6 {
    width: 40%;
  }
  /* line 237, ../scss/modules/_tabs.scss */
  #ios-tab .build-data .col-xs-2, #android-tab .build-data .col-xs-2 {
    width: 16.666%!important;
  }
  /* line 242, ../scss/modules/_tabs.scss */
  #ios-tab .build-data .col-xs-6, #android-tab .build-data .col-xs-6 {
    width: 50%;
  }
}
/* Buttons */
/* line 3, ../scss/modules/_buttons.scss */
.btn-custom-full, .btn-custom-full:focus {
  width: 100%;
  color: #777777;
  background-image: linear-gradient(to bottom, #f4f2e9 0%, #e3e0d4 100%);
  background-position: 0px 0px;
}

/* line 10, ../scss/modules/_buttons.scss */
.btn-custom-full:hover, .btn-custom-full:active {
  width: 100%;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #e3e0d4 0%, #f4f2e9 100%);
  background-position: 0px 0px;
}

/* line 18, ../scss/modules/_buttons.scss */
.img-preloader {
  display: none;
}

/* line 22, ../scss/modules/_buttons.scss */
.val_close {
  width: 100px;
  color: #777777;
  background-image: linear-gradient(to bottom, #f4f2e9 0%, #e3e0d4 100%);
  background-position: 0px 0px;
}

/* line 29, ../scss/modules/_buttons.scss */
.val_close:hover {
  width: 100px;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #e3e0d4 0%, #f4f2e9 100%);
  background-position: 0px 0px;
}

/* Tooltips */
/* line 3, ../scss/modules/_tooltips.scss */
a.tooltip1 {
  outline: none;
}

/* line 7, ../scss/modules/_tooltips.scss */
a.tooltip1 strong {
  line-height: 15px;
}

/* line 11, ../scss/modules/_tooltips.scss */
a.tooltip1:hover {
  text-decoration: none;
}

/* line 15, ../scss/modules/_tooltips.scss */
a.tooltip1 span {
  z-index: 10;
  display: none;
  padding: 14px 20px;
  margin-top: -30px;
  margin-left: 20px;
  width: 300px;
  line-height: 16px;
}

/* line 25, ../scss/modules/_tooltips.scss */
a.tooltip1:hover span {
  display: inline;
  position: absolute;
  color: #777777;
  border: 1px solid #e3e0d4;
  background: #f4f2e9;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow: none;
}

/* line 37, ../scss/modules/_tooltips.scss */
.callout {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: -12px;
}

/* line 45, ../scss/modules/_tooltips.scss */
a.tooltip1 span {
  border-radius: 4px;
  -moz0border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 5px 5px 8px #cccccc;
  -moz-box-shadow: 5px 5px 8px #cccccc;
  box-shadow: 5px 5px 8px #cccccc;
}

/* line 50, ../scss/modules/_tooltips.scss */
.section-heading a.tooltip1:hover span {
  font-weight: normal!important;
  font-size: 14px!important;
}

@media screen and (max-width: 500px) {
  /* line 57, ../scss/modules/_tooltips.scss */
  a.tooltip1 span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 300px;
    line-height: 16px;
    position: absolute;
    left: 0%;
  }
}
/* Validation Messages */
/* line 3, ../scss/modules/_validation.scss */
.validation_container {
  width: 100%;
  position: fixed;
  top: 10%;
  text-align: center;
}

/* line 10, ../scss/modules/_validation.scss */
.validation_holder {
  width: 300px;
  background: #e3e0d4;
  padding: 5px 20px;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

/* line 19, ../scss/modules/_validation.scss */
.validation_msg .val_success {
  color: #759fc2;
}

/* line 23, ../scss/modules/_validation.scss */
.validation_msg h4 {
  color: #c27575;
}

/* line 27, ../scss/modules/_validation.scss */
.validation_msg p {
  color: #777777;
}

/* line 31, ../scss/modules/_validation.scss */
.val_error_highlight {
  -moz-box-shadow: 0px 0px 10px rgba(194, 117, 117, 0.8) !important;
  -webkit-box-shadow: 0px 0px 10px rgba(194, 117, 117, 0.8) !important;
  box-shadow: 0px 0px 10px rgba(194, 117, 117, 0.8) !important;
}

/* LAYOUTS - Layout styles */
/* line 3, ../scss/layouts/_nav.scss */
.nav .os-icons {
  float: right;
  width: 25px;
  height: 25px;
}

/* line 11, ../scss/layouts/_nav.scss */
#general-ios-icon, #publisher-info-ios-icon, #design-ios-icon, #platform-specifics-ios-icon, #build-app-ios-icon, #store-general-ios-icon, #store-artwork-ios-icon {
  background: url("../img/ico_ios_inactive.png");
}

/* line 15, ../scss/layouts/_nav.scss */
#general-android-icon, #publisher-info-android-icon, #design-android-icon, #platform-specifics-android-icon, #build-app-android-icon, #store-general-android-icon, #store-artwork-android-icon {
  background: url("../img/ico_android_inactive.png");
}

/* line 19, ../scss/layouts/_nav.scss */
.nav li.active a {
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #e3e0d4;
}

/* line 1, ../scss/layouts/_columns.scss */
.text-center {
  padding-top: 20px;
}

/* line 5, ../scss/layouts/_columns.scss */
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}

/* line 10, ../scss/layouts/_columns.scss */
#sidebar .nav {
  width: 95%;
}

/* line 13, ../scss/layouts/_columns.scss */
#sidebar li {
  border: 0 #f2f2f2 solid;
  border-bottom-width: 1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  /* line 20, ../scss/layouts/_columns.scss */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  /* line 27, ../scss/layouts/_columns.scss */
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  /* line 32, ../scss/layouts/_columns.scss */
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }

  /* line 35, ../scss/layouts/_columns.scss */
  .row-offcanvas-right.active {
    right: 41.6%;
  }

  /* line 38, ../scss/layouts/_columns.scss */
  .row-offcanvas-left.active {
    left: 41.6%;
  }

  /* line 41, ../scss/layouts/_columns.scss */
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }

  /* line 46, ../scss/layouts/_columns.scss */
  #sidebar {
    padding-top: 0;
  }
}
@media screen and (max-width: 550px) {
  /* line 54, ../scss/layouts/_columns.scss */
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -240px;
  }

  /* line 59, ../scss/layouts/_columns.scss */
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -240px;
  }

  /* line 62, ../scss/layouts/_columns.scss */
  .row-offcanvas-right.active {
    right: 240px;
  }

  /* line 65, ../scss/layouts/_columns.scss */
  .row-offcanvas-left.active {
    left: 240px;
  }

  /* line 68, ../scss/layouts/_columns.scss */
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 240px!important;
  }
}
/* Build History */
/* line 5, ../scss/layouts/_build-history.scss */
#ios-tab .push-right, #android-tab .push-right {
  text-align: right;
}
/* line 9, ../scss/layouts/_build-history.scss */
#ios-tab .build-data, #android-tab .build-data {
  font-size: 12px;
}
/* line 15, ../scss/layouts/_build-history.scss */
#ios-tab .build-history, #android-tab .build-history {
  font-size: 14px;
  font-weight: bold;
}
/* line 19, ../scss/layouts/_build-history.scss */
#ios-tab .build-history label, #android-tab .build-history label {
  width: 135px;
  padding: 3px 0px 0px 7px;
}
/* line 24, ../scss/layouts/_build-history.scss */
#ios-tab .build-history label:hover, #android-tab .build-history label:hover {
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
/* line 28, ../scss/layouts/_build-history.scss */
#ios-tab .build-history label:active, #android-tab .build-history label:active {
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}
