.nav{
	
	.os-icons{
		float: right;
		width: 25px;
		height: 25px;
	}

}

#general-ios-icon, #publisher-info-ios-icon, #design-ios-icon, #platform-specifics-ios-icon, #build-app-ios-icon, #store-general-ios-icon, #store-artwork-ios-icon{
	background: url('../img/ico_ios_inactive.png');
}

#general-android-icon, #publisher-info-android-icon, #design-android-icon, #platform-specifics-android-icon, #build-app-android-icon, #store-general-android-icon, #store-artwork-android-icon{
	background: url('../img/ico_android_inactive.png');
}

.nav li.active a{
	@include border-radius(3px);
	@include box-shadow(inset 1px, 1px, 2px, rgba(0, 0, 0, 0.3));
	background-color: #e3e0d4;
}