/* BASE */
/* Font Colors */
/* Background Colors */
/* Base */
/* MODULES */
/* Forms */
/* line 3, ../scss/modules/_forms.scss */
.for-kids {
  margin-top: 10px;
}
/* line 6, ../scss/modules/_forms.scss */
.for-kids select {
  width: 50%!important;
  display: inline-block;
  float: right;
}

/* line 14, ../scss/modules/_forms.scss */
.col-head {
  font-weight: bold;
}

/* line 18, ../scss/modules/_forms.scss */
.hor-rule {
  margin: 0px;
}

/* line 22, ../scss/modules/_forms.scss */
.rad-align {
  text-align: center;
}
/* line 25, ../scss/modules/_forms.scss */
.rad-align .col-xs-6 {
  text-align: left;
}

/* line 31, ../scss/modules/_forms.scss */
.paragraph-text {
  text-align: justify;
}

/* line 35, ../scss/modules/_forms.scss */
.section-heading {
  font-size: 130%;
  font-weight: bold;
  margin-top: 25px;
}

/* line 41, ../scss/modules/_forms.scss */
.nav-tabs li {
  width: 50%;
}

/* line 47, ../scss/modules/_forms.scss */
#ios-tab .vert-align, #android-tab .vert-align {
  margin-top: 5px;
}
/* line 51, ../scss/modules/_forms.scss */
#ios-tab .theme-colors img, #android-tab .theme-colors img {
  width: 100%;
  max-width: 350px;
}
/* line 56, ../scss/modules/_forms.scss */
#ios-tab .theme-or, #android-tab .theme-or {
  font-size: 24px;
  color: red;
}
/* line 61, ../scss/modules/_forms.scss */
#ios-tab .theme-colors input, #android-tab .theme-colors input {
  margin-left: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 69, ../scss/modules/_forms.scss */
#ios-tab .theme-colors label, #android-tab .theme-colors label {
  width: 100%;
  font-weight: normal;
}
/* line 74, ../scss/modules/_forms.scss */
#ios-tab .img-upload input, #android-tab .img-upload input {
  width: 73%;
  height: 26px;
  cursor: pointer;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  margin-left: 0px;
  display: inline;
}
/* line 85, ../scss/modules/_forms.scss */
#ios-tab .img-upload-multi, #android-tab .img-upload-multi {
  margin-bottom: 25px;
}
/* line 89, ../scss/modules/_forms.scss */
#ios-tab .img-upload-multi img, #android-tab .img-upload-multi img {
  width: 100%!important;
  margin: 5px 0px;
  height: auto!important;
}
/* line 95, ../scss/modules/_forms.scss */
#ios-tab .img-upload-multi input, #android-tab .img-upload-multi input {
  width: 100%;
  height: 26px;
  cursor: pointer;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  margin-left: 0px;
  display: inline;
}
/* line 106, ../scss/modules/_forms.scss */
#ios-tab .upload-right, #android-tab .upload-right {
  width: 25%!important;
  float: right;
  font-weight: normal;
}
/* line 112, ../scss/modules/_forms.scss */
#ios-tab select, #android-tab select {
  width: 100%;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  background-color: #ffffff;
}
/* line 123, ../scss/modules/_forms.scss */
#ios-tab textarea, #android-tab textarea {
  width: 100%;
  height: 75px;
  line-height: 1.2em;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  background-color: #ffffff;
}
/* line 133, ../scss/modules/_forms.scss */
#ios-tab label, #android-tab label {
  width: 49%;
  height: 26px;
  cursor: pointer;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #eeeeee;
  margin-left: 0px;
}
/* line 143, ../scss/modules/_forms.scss */
#ios-tab input, #android-tab input {
  width: 100%;
  border: solid 1px #eeeeee;
  border-radius: 3px;
  -moz0border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 150, ../scss/modules/_forms.scss */
#ios-tab input[type=radio], #ios-tab input[type=checkbox], #android-tab input[type=radio], #android-tab input[type=checkbox] {
  width: 15px;
}
/* line 154, ../scss/modules/_forms.scss */
#ios-tab .radio-input, #android-tab .radio-input {
  margin-left: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 161, ../scss/modules/_forms.scss */
#ios-tab .radio-inline-right, #android-tab .radio-inline-right {
  float: right;
  font-weight: normal;
}
/* line 166, ../scss/modules/_forms.scss */
#ios-tab .row, #android-tab .row {
  margin: 10px 0px;
}

@media screen and (max-width: 500px) {
  /* line 176, ../scss/modules/_forms.scss */
  #ios-tab .vert-align, #android-tab .vert-align {
    margin-top: 0px;
  }
}
@media screen and (max-width: 620px) {
  /* line 188, ../scss/modules/_forms.scss */
  #ios-tab .col-xs-2, #android-tab .col-xs-2 {
    width: 20%;
  }
  /* line 193, ../scss/modules/_forms.scss */
  #ios-tab .col-xs-6, #android-tab .col-xs-6 {
    width: 40%;
  }
}
/* LAYOUTS - Layout styles */
/* line 1, ../scss/layouts/_columns.scss */
.text-center {
  padding-top: 20px;
}

/* line 4, ../scss/layouts/_columns.scss */
.col-xs-12 {
  background-color: #fff;
}

/* line 7, ../scss/layouts/_columns.scss */
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}

/* line 12, ../scss/layouts/_columns.scss */
#sidebar .nav {
  width: 95%;
}

/* line 15, ../scss/layouts/_columns.scss */
#sidebar li {
  border: 0 #f2f2f2 solid;
  border-bottom-width: 1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  /* line 24, ../scss/layouts/_columns.scss */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  /* line 31, ../scss/layouts/_columns.scss */
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  /* line 36, ../scss/layouts/_columns.scss */
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }

  /* line 39, ../scss/layouts/_columns.scss */
  .row-offcanvas-right.active {
    right: 41.6%;
  }

  /* line 42, ../scss/layouts/_columns.scss */
  .row-offcanvas-left.active {
    left: 41.6%;
  }

  /* line 45, ../scss/layouts/_columns.scss */
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }

  /* line 50, ../scss/layouts/_columns.scss */
  #sidebar {
    padding-top: 0;
  }
}
