/* Font Colors */

$base-font-size: 15px;
$base-font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
$base-font-color: #666666;

/* Background Colors */

$validation-success-color: #759fc2;
$validation-error-color: #c27575;

