/* Forms */


.for-kids {
	margin-top:10px;

	select{
		width: 50%!important;
		display: inline-block;
		float: right;
	}

}

.rad-align{
	text-align: center;

	.col-xs-6{
		text-align: left;
	}

}

.nav-tabs li{
 	width: 50%;
}

