/* Forms */

.for-kids {
	margin-top:10px;

	select{
		width: 50%!important;
		display: inline-block;
		float: right;
	}

}

.col-head{
	font-weight: bold;
}

.hor-rule{
	margin:0px;
}

.rad-align{
	text-align: center;

	.col-xs-6{
		text-align: left;
	}

}

.paragraph-text{
	text-align:justify;
}

.section-heading{
	font-size: 130%;
	font-weight: bold;
	margin-top:25px;
}

.nav-tabs li{
 	width: 50%;
}

#ios-tab, #android-tab{

	.vert-align{
		margin-top:5px;
	}

	.theme-colors img{
		width: 100%;
		max-width:350px;
	}

	.theme-or{
		font-size: 24px;
		color: red;
	}

	.theme-colors input{
		margin-left: 0px;
		-moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}

	
	.theme-colors label{
		width: 100%;
		font-weight: normal;
	}

	.img-upload input{
		width   : 73%;
	    height:26px;
		cursor: pointer;
		@include border-radius(3px);
		@include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
		border: solid 1px #eeeeee;
		margin-left:0px;
		display: inline;
	}

	.img-upload-multi{
		margin-bottom:25px;
	}

	.img-upload-multi img{
		width: 100%!important;
		margin:5px 0px;
		height: auto!important;
	}

	.img-upload-multi input{
		width   : 100%;
	    height:26px;
		cursor: pointer;
		@include border-radius(3px);
		@include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
		border: solid 1px #eeeeee;
		margin-left:0px;
		display: inline;
	}

	.upload-right{
		width: 25%!important;
		float: right;
		font-weight: normal;
	}

	select{
	    width: 100%;
	    height: 26px;
	    line-height: 26px;
	    cursor: pointer;
	    @include border-radius(3px);
	    @include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
	    border: solid 1px #eeeeee;
	    background-color: #ffffff;
	}

	textarea{
	    width: 100%;
	    height: 75px;
	    line-height: 1.2em;
	    @include border-radius(3px);
	    @include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
	    border: solid 1px #eeeeee;
	    background-color: #ffffff;
	}

	 label{
	    width   : 49%;
	    height:26px;
		cursor: pointer;
		@include border-radius(3px);
		@include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
		border: solid 1px #eeeeee;
		margin-left:0px;
	}

	input{
		width: 100%;
		border: solid 1px #eeeeee;
		@include border-radius(3px);
		@include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
	}

	input[type=radio], input[type=checkbox]{
		width   : 15px;
	}

	.radio-input{
		margin-left: 0px;
		-moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}

	.radio-inline-right{
		float: right;
		font-weight: normal;
	}

	.row{
		margin: 10px 0px;
	}

}

@media screen and (max-width: 500px) {

	#ios-tab, #android-tab{

		.vert-align{
		margin-top:0px;
		}

	}

}

@media screen and (max-width: 620px) {

	#ios-tab, #android-tab{

		.col-xs-2{
			width:20%;
		}


		.col-xs-6{
			width:40%;
		}

	}

}