<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>New Config</title>
        <link rel="stylesheet" href="../css/style.css"/>
        <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/services/configSvc.js"></script>
        <script src="../js/controllers/configCtrl.js"></script>
    </head>
    <body>
        <div class="row">
            <div id="menu">
                <ul>
                    <li><a href="/#Homepage">HomePage</a></li>
                    <li><a href="/#NewConfig">New Config</a></li>
                    <li><a href="/#EditConfig">Edit Config</a></li>
                    <li><a href="/#Certificates">Certificates</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <ng-view></ng-view>
            </div>
        </div>
        <div ng-view>
            <div ng-controller="ConfigCtrl">
                <select ng-model="configId" ng-change="reloadConfig(configId)">
                    <option ng-repeat="c in configurations">{{c}}</option>
                </select>
                <select ng-model="platform"  ng-change="reloadPlatform(platform)">
                    <option value="IOS" selected>IOS</option>
                    <option value="Android">Android</option>
                </select>
                <form>
                    <div ng-repeat="variable in config.Variables">
                        <div ng-if="!variable.admin_only" style="margin-top: 24px">
                            <label>{{variable.display}}</label>
                                <div ng-switch="{{variable.type}}">
                                    <input ng-if="variable.required" ng-if="variable.type == 'text'" ng-model="variable.value" required type="text" value="{{variable.value}}" name="input" id="input"/>
                                    <input ng-if="!variable.required" ng-if="variable.type == 'text'"  type="text" value="{{variable.value}}" name="input" id="input1"/>

                                    <select ng-model="variable.type" ng-switch-when="select">
                                        <option>{{variable.options.mediawire}}</option>
                                        <option>{{variable.options.autologin}}</option>
                                    </select>
                                </div>
                            <button class="button" ng-click="saveConfig()">Save</button>
                        </div>
                    </div>
                </form>
                <div ng-repeat="res in config.Resources">
                    <div ng-if="res">
                        <img src="/config/{{configId}}/{{platform}}/{{res.url}}" alt="{{res.id}}" style="max-height: 250px"/>

                        <input type="file" id="res" value=""/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>