/* Tabs */

#ios-tab, #android-tab{

	a{
	color: #777777;
	}

	a:hover{
		color:#777777!important;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, .3);
	}

	.vert-align{
		margin-top:5px;
	}

	.theme-colors img{
		width: 100%;
		max-width:350px;
	}

	.theme-or{
		font-size: 24px;
		color: #777777;
	}

	.theme-colors input{
		margin-left: 0px;
		-moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}

	
	.theme-colors label{
		width: 100%;
		font-weight: normal;
	}

	.img-upload input{
		width   : 73%;
	    height:26px;
		cursor: pointer;
		@include border-radius(3px);
		@include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
		border: solid 1px #eeeeee;
		margin-left:0px;
		display: inline;
	}

	.img-upload-multi{
		margin-bottom:25px;
	}

	.img-upload-multi img{
		width: 100%!important;
		margin:5px 0px;
		height: auto!important;
	}

	.img-upload-multi input{
		width   : 100%;
	    height:26px;
		cursor: pointer;
		@include border-radius(3px);
		@include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
		border: solid 1px #eeeeee;
		margin-left:0px;
		display: inline;
	}

	.upload-right{
		width: 25%!important;
		float: right;
		font-weight: normal;
	}

	select{
	    width: 100%;
	    height: 26px;
	    line-height: 26px;
	    cursor: pointer;
	    @include border-radius(3px);
	    @include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
	    border: solid 1px #eeeeee;
	    background: none;
	    color: #777777;
	}

	textarea{
	    width: 100%;
	    height: 75px;
	    line-height: 1.2em;
	    @include border-radius(3px);
	    @include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
	    border: solid 1px #eeeeee;
	    background: none;
	    color: #777777;
	}

	 label{
	    width   : 49%;
	    height:26px;
		cursor: pointer;
		@include border-radius(3px);
		@include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
		border: solid 1px #eeeeee;
		margin-left:0px;
		padding-left: 20px;
		color: #777777;
	}

	.nav .active, label:active, label:hover{
		@include box-shadow( 1px, 1px, 5px, rgba(0, 0, 0, 0.3));
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
	}

	input[type=submit]:focus{
		@include box-shadow(inset 1px, 1px, 2px, rgba(0, 0, 0, 0.3));
		background: #759fc2;
		color:#ffffff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .3);
	}

	input[type=submit]:hover{
		@include box-shadow( 1px, 1px, 5px, rgba(0, 0, 0, 0.3));
		background: #759fc2;
		color:#ffffff;
		text-shadow: 1px 1px 15px rgba(0, 0, 0, .3);
	}

	input[type=submit]{
		@include box-shadow( 1px, 1px, 2px, rgba(0, 0, 0, 0.3));
		background: #759fc2;
		color:#ffffff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .3);
	border: none;
	}

	.input-sel{
		@include box-shadow(inset 1px, 1px, 2px, rgba(0, 0, 0, 0.3));
		background: #e3e0d4;
		color:#ffffff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .3);
	}

	.rad-align label:active, .rad-align label:hover, .rad-align .input-sel{
		-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    	box-shadow: none;
		background: none;
	}

	.theme-colors .create-own{
		width: 165px;
	}

	input{
		width: 100%;
		border: solid 1px #eeeeee;
		@include border-radius(3px);
		@include box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.3));
		background: none;
		color: #777777;
	}

	input[type=radio], input[type=checkbox]{
		width   : 15px;
		cursor: pointer;
	}

	.radio-input{
		margin-left: 0px;
		-moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}

	.radio-inline-right{
		float: right;
		font-weight: normal;
	}

	.radio-inline-middle{
		margin-left: auto;
		margin-right: auto;
		font-weight: normal;
	}

	.radio-inline-left{
		float: left;
	}

	.input-3-wide label{
		width: 32%;
		text-align: left;
	}

	.input-3-wide{
		text-align: center;
	}

	.row{
		margin: 10px 0px;
	}

}

@media screen and (max-width: 500px) {

	#ios-tab, #android-tab{

		.vert-align{
		margin-top:0px;
		}

	}

}

@media screen and (max-width: 620px) {

	#ios-tab, #android-tab{

		.col-xs-2{
			width:20%;
		}


		.col-xs-6{
			width:40%;
		}

		.build-data{

			.col-xs-2{
			width:16.666%!important;
			}


			.col-xs-6{
			width:50%;
			}

		}

	}

}